<a href="https://colab.research.google.com/github/MARISETTIGAYATRI/g/blob/main/3_6_23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
df= pd.read_csv('/content/xAPI-Edu-Data.csv')

In [ ]:
import numpy as np
import pandas as pd
df= pd.read_csv('/content/xAPI-Edu-Data.csv')
df

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
0,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,15,16,2,20,Yes,Good,Under-7,M
1,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,20,20,3,25,Yes,Good,Under-7,M
2,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,10,7,0,30,No,Bad,Above-7,L
3,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,30,25,5,35,No,Bad,Above-7,L
4,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,40,50,12,50,No,Bad,Above-7,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,F,Jordan,Jordan,MiddleSchool,G-08,A,Chemistry,S,Father,5,4,5,8,No,Bad,Above-7,L
476,F,Jordan,Jordan,MiddleSchool,G-08,A,Geology,F,Father,50,77,14,28,No,Bad,Under-7,M
477,F,Jordan,Jordan,MiddleSchool,G-08,A,Geology,S,Father,55,74,25,29,No,Bad,Under-7,M
478,F,Jordan,Jordan,MiddleSchool,G-08,A,History,F,Father,30,17,14,57,No,Bad,Above-7,L
479,F,Jordan,Jordan,MiddleSchool,G-08,A,History,S,Father,35,14,23,62,No,Bad,Above-7,L

In [ ]:
df=pd.read_csv('/content/xAPI-Edu-Data.csv',header=[0,1,2])
df

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,15,16,2,20,Yes,Good,Under-7,M
,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,20,20,3,25,Yes,Good,Under-7,M
0,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,10,7,0,30,No,Bad,Above-7,L
1,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,30,25,5,35,No,Bad,Above-7,L
2,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,40,50,12,50,No,Bad,Above-7,M
3,F,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,42,30,13,70,Yes,Bad,Above-7,M
4,M,KW,KuwaIT,MiddleSchool,G-07,A,Math,F,Father,35,12,0,17,No,Bad,Above-7,L
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
473,F,Jordan,Jordan,MiddleSchool,G-08,A,Chemistry,S,Father,5,4,5,8,No,Bad,Above-7,L
474,F,Jordan,Jordan,MiddleSchool,G-08,A,Geology,F,Father,50,77,14,28,No,Bad,Under-7,M
475,F,Jordan,Jordan,MiddleSchool,G-08,A,Geology,S,Father,55,74,25,29,No,Bad,Under-7,M
476,F,Jordan,Jordan,MiddleSchool,G-08,A,History,F,Father,30,17,14,57,No,Bad,Above-7,L
477,F,Jordan,Jordan,MiddleSchool,G-08,A,History,S,Father,35,14,23,62,No,Bad,Above-7,L

In [ ]:
df.shape

(478, 17)

In [ ]:
df.head(10)

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,15,16,2,20,Yes,Good,Under-7,M
,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,20,20,3,25,Yes,Good,Under-7,M
0,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,10,7,0,30,No,Bad,Above-7,L
1,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,30,25,5,35,No,Bad,Above-7,L
2,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,40,50,12,50,No,Bad,Above-7,M
3,F,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,42,30,13,70,Yes,Bad,Above-7,M
4,M,KW,KuwaIT,MiddleSchool,G-07,A,Math,F,Father,35,12,0,17,No,Bad,Above-7,L
5,M,KW,KuwaIT,MiddleSchool,G-07,A,Math,F,Father,50,10,15,22,Yes,Good,Under-7,M
6,F,KW,KuwaIT,MiddleSchool,G-07,A,Math,F,Father,12,21,16,50,Yes,Good,Under-7,M
7,F,KW,KuwaIT,MiddleSchool,G-07,B,IT,F,Father,70,80,25,70,Yes,Good,Under-7,M
8,M,KW,KuwaIT,MiddleSchool,G-07,A,Math,F,Father,50,88,30,80,Yes,Good,Under-7,H
9,M,KW,KuwaIT,MiddleSchool,G-07,B,Math,F,Father,19,6,19,12,Yes,Good,Under-7,M

In [ ]:
df.tail(10)

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,15,16,2,20,Yes,Good,Under-7,M
,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,20,20,3,25,Yes,Good,Under-7,M
468,M,Palestine,Jordan,MiddleSchool,G-08,A,History,F,Father,81,86,86,41,Yes,Good,Under-7,M
469,M,Palestine,Jordan,MiddleSchool,G-08,A,History,S,Father,78,82,78,53,Yes,Good,Under-7,M
470,M,Palestine,Palestine,MiddleSchool,G-08,A,Geology,F,Father,80,87,74,68,Yes,Good,Under-7,M
471,M,Palestine,Palestine,MiddleSchool,G-08,A,Geology,S,Father,85,88,79,70,Yes,Good,Under-7,M
472,F,Jordan,Jordan,MiddleSchool,G-08,A,Chemistry,F,Father,2,7,4,8,No,Bad,Above-7,L
473,F,Jordan,Jordan,MiddleSchool,G-08,A,Chemistry,S,Father,5,4,5,8,No,Bad,Above-7,L
474,F,Jordan,Jordan,MiddleSchool,G-08,A,Geology,F,Father,50,77,14,28,No,Bad,Under-7,M
475,F,Jordan,Jordan,MiddleSchool,G-08,A,Geology,S,Father,55,74,25,29,No,Bad,Under-7,M
476,F,Jordan,Jordan,MiddleSchool,G-08,A,History,F,Father,30,17,14,57,No,Bad,Above-7,L
477,F,Jordan,Jordan,MiddleSchool,G-08,A,History,S,Father,35,14,23,62,No,Bad,Above-7,L

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 478 entries, 0 to 477
Data columns (total 17 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   (gender, M, M)                          478 non-null    object
 1   (NationalITy, KW, KW)                   478 non-null    object
 2   (PlaceofBirth, KuwaIT, KuwaIT)          478 non-null    object
 3   (StageID, lowerlevel, lowerlevel)       478 non-null    object
 4   (GradeID, G-04, G-04)                   478 non-null    object
 5   (SectionID, A, A)                       478 non-null    object
 6   (Topic, IT, IT)                         478 non-null    object
 7   (Semester, F, F)                        478 non-null    object
 8   (Relation, Father, Father)              478 non-null    object
 9   (raisedhands, 15, 20)                   478 non-null    int64
 10  (VisITedResources, 16, 20)              478 non-null    int64
 11  (AnnouncementsView, 2, 3)               478 non-null    int64
 12  (Discussion, 20, 25)                    478 non-null    int64
 13  (ParentAnsweringSurvey, Yes, Yes)       478 non-null    object
 14  (ParentschoolSatisfaction, Good, Good)  478 non-null    object
 15  (StudentAbsenceDays, Under-7, Under-7)  478 non-null    object
 16  (Class, M, M)                           478 non-null    object
dtypes: int64(4), object(13)
memory usage: 63.6+ KB

In [ ]:
df.index

RangeIndex(start=0, stop=478, step=1)

In [ ]:
import numpy as np
import pandas as pd
df= pd.read_csv('/content/xAPI-Edu-Data.csv')

In [ ]:
s=pd.read_csv('/content/xAPI-Edu-Data.csv', sep=":", nrows=3)
s

  gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
0  M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,15,1...
1  M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,20,2...
2  M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,10,7...

In [ ]:
g=df.drop
g

<bound method DataFrame.drop of   gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
0  M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,15,1...
1  M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,20,2...
2  M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,10,7...                                                                                                                                                                 >

In [ ]:
df.drop('gender')

KeyError: ignored

In [ ]:
df

  gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
0  M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,15,1...
1  M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,20,2...
2  M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,10,7...

In [ ]:
df=pd.read_csv('/content/xAPI-Edu-Data.csv')
df

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
0,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,15,16,2,20,Yes,Good,Under-7,M
1,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,20,20,3,25,Yes,Good,Under-7,M
2,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,10,7,0,30,No,Bad,Above-7,L
3,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,30,25,5,35,No,Bad,Above-7,L
4,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,40,50,12,50,No,Bad,Above-7,M
5,F,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,42,30,13,70,Yes,Bad,Above-7,M
6,M,KW,KuwaIT,MiddleSchool,G-07,A,Math,F,Father,35,12,0,17,No,Bad,Above-7,L
7,M,KW,KuwaIT,MiddleSchool,G-07,A,Math,F,Father,50,10,15,22,Yes,Good,Under-7,M
8,F,KW,KuwaIT,MiddleSchool,G-07,A,Math,F,Father,12,21,16,50,Yes,Good,Under-7,M
9,F,KW,KuwaIT,MiddleSchool,G-07,B,IT,F,Father,70,80,25,70,Yes,Good,Under-7,M
10,M,KW,KuwaIT,MiddleSchool,G-07,A,Math,F,Father,50,88,30,80,Yes,Good,Under-7,H
11,M,KW,KuwaIT,MiddleSchool,G-07,B,Math,F,Father,19,6,19,12,Yes,Good,Under-7,M
12,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,5,1,0,11,No,Bad,Above-7,L
13,M,lebanon,lebanon,MiddleSchool,G-08,A,Math,F,Father,20,14,12,19,No,Bad,Above-7,L
14,F,KW,KuwaIT,MiddleSchool,G-08,A,Math,F,Mum,62,70,44,60,No,Bad,Above-7,H
15,F,KW,KuwaIT,MiddleSchool,G-06,A,IT,F,Father,30,40,22,66,Yes,Good,Under-7,M
16,M,KW,KuwaIT,MiddleSchool,G-07,B,IT,F,Father,36,30,20,80,No,Bad,Above-7,M
17,M,KW,KuwaIT,MiddleSchool,G-07,A,Math,F,Father,55,13,35,90,No,Bad,Above-7,M
18,F,KW,KuwaIT,MiddleSchool,G-07,A,IT,F,Mum,69,15,36,96,Yes,Good,Under-7,M
19,M,KW,KuwaIT,MiddleSchool,G-07,B,IT,F,Mum,70,50,40,99,Yes,Good,Under-7,H
20,F,KW,KuwaIT,MiddleSchool,G-07,A,IT,F,Father,60,60,33,90,No,Bad,Above-7,M
21,F,KW,KuwaIT,MiddleSchool,G-07,B,IT,F,Father,10,12,4,80,No,Bad,Under-7,M
22,M,KW,KuwaIT,MiddleSchool,G-07,A,IT,F,Father,15,21,2,90,No,Bad,Under-7,M
23,M,KW,KuwaIT,MiddleSchool,G-07,A,IT,F,Father,2,0,2,50,No,Bad,Above-7,L
24,M,KW,KuwaIT,MiddleSchool,G-07,B,IT,F,Father,0,2,3,70,Yes,Good,Above-7,L
25,M,KW,KuwaIT,MiddleSchool,G-07,A,IT,F,Father,8,7,30,40,Yes,Good,Above-7,L
26,M,KW,KuwaIT,MiddleSchool,G-07,B,IT,F,Father,19,19,25,40,Yes,Bad,Under-7,M
27,M,KW,KuwaIT,MiddleSchool,G-08,A,Arabic,F,Father,25,15,12,33,No,Bad,Above-7,L
28,M,KW,KuwaIT,MiddleSchool,G-08,A,Science,F,Father,75,85,52,43,Yes,Good,Under-7,M

In [ ]:
avg_age=df['raisedhands'].mean()
print("Average age is:",avg_age)

Average age is: 32.89655172413793

In [ ]:
df.drop(labels=range(5,25),axis=0)

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
0,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,15,16,2,20,Yes,Good,Under-7,M
1,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,20,20,3,25,Yes,Good,Under-7,M
2,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,10,7,0,30,No,Bad,Above-7,L
3,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,30,25,5,35,No,Bad,Above-7,L
4,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,40,50,12,50,No,Bad,Above-7,M
25,M,KW,KuwaIT,MiddleSchool,G-07,A,IT,F,Father,8,7,30,40,Yes,Good,Above-7,L
26,M,KW,KuwaIT,MiddleSchool,G-07,B,IT,F,Father,19,19,25,40,Yes,Bad,Under-7,M
27,M,KW,KuwaIT,MiddleSchool,G-08,A,Arabic,F,Father,25,15,12,33,No,Bad,Above-7,L
28,M,KW,KuwaIT,MiddleSchool,G-08,A,Science,F,Father,75,85,52,43,Yes,Good,Under-7,M

In [ ]:
print(df['raisedhands'].max())

75

In [ ]:
print(df['raisedhands'].min())

0

In [ ]:
print(df['raisedhands'].mean())

32.89655172413793

In [ ]:
df.describe()

       raisedhands  VisITedResources  AnnouncementsView  Discussion
count    29.000000         29.000000          29.000000   29.000000
mean     32.896552         28.241379          17.655172   53.034483
std      23.138318         26.053044          14.950575   27.898391
min       0.000000          0.000000           0.000000   11.000000
25%      15.000000         12.000000           3.000000   30.000000
50%      30.000000         19.000000          15.000000   50.000000
75%      50.000000         40.000000          30.000000   80.000000
max      75.000000         88.000000          52.000000   99.000000

In [ ]:
df=pd.read_csv('/content/xAPI-Edu-Data.csv')
print(df)

   gender NationalITy PlaceofBirth       StageID GradeID SectionID    Topic  \
0       M          KW       KuwaIT    lowerlevel    G-04         A       IT
1       M          KW       KuwaIT    lowerlevel    G-04         A       IT
2       M          KW       KuwaIT    lowerlevel    G-04         A       IT
3       M          KW       KuwaIT    lowerlevel    G-04         A       IT
4       M          KW       KuwaIT    lowerlevel    G-04         A       IT
5       F          KW       KuwaIT    lowerlevel    G-04         A       IT
6       M          KW       KuwaIT  MiddleSchool    G-07         A     Math
7       M          KW       KuwaIT  MiddleSchool    G-07         A     Math
8       F          KW       KuwaIT  MiddleSchool    G-07         A     Math
9       F          KW       KuwaIT  MiddleSchool    G-07         B       IT
10      M          KW       KuwaIT  MiddleSchool    G-07         A     Math
11      M          KW       KuwaIT  MiddleSchool    G-07         B     Math
12      M          KW       KuwaIT    lowerlevel    G-04         A       IT
13      M     lebanon      lebanon  MiddleSchool    G-08         A     Math
14      F          KW       KuwaIT  MiddleSchool    G-08         A     Math
15      F          KW       KuwaIT  MiddleSchool    G-06         A       IT
16      M          KW       KuwaIT  MiddleSchool    G-07         B       IT
17      M          KW       KuwaIT  MiddleSchool    G-07         A     Math
18      F          KW       KuwaIT  MiddleSchool    G-07         A       IT
19      M          KW       KuwaIT  MiddleSchool    G-07         B       IT
20      F          KW       KuwaIT  MiddleSchool    G-07         A       IT
21      F          KW       KuwaIT  MiddleSchool    G-07         B       IT
22      M          KW       KuwaIT  MiddleSchool    G-07         A       IT
23      M          KW       KuwaIT  MiddleSchool    G-07         A       IT
24      M          KW       KuwaIT  MiddleSchool    G-07         B       IT
25      M          KW       KuwaIT  MiddleSchool    G-07         A       IT
26      M          KW       KuwaIT  MiddleSchool    G-07         B       IT
27      M          KW       KuwaIT  MiddleSchool    G-08         A   Arabic
28      M          KW       KuwaIT  MiddleSchool    G-08         A  Science

   Semester Relation  raisedhands  VisITedResources  AnnouncementsView  \
0         F   Father           15                16                  2
1         F   Father           20                20                  3
2         F   Father           10                 7                  0
3         F   Father           30                25                  5
4         F   Father           40                50                 12
5         F   Father           42                30                 13
6         F   Father           35                12                  0
7         F   Father           50                10                 15
8         F   Father           12                21                 16
9         F   Father           70                80                 25
10        F   Father           50                88                 30
11        F   Father           19                 6                 19
12        F   Father            5                 1                  0
13        F   Father           20                14                 12
14        F      Mum           62                70                 44
15        F   Father           30                40                 22
16        F   Father           36                30                 20
17        F   Father           55                13                 35
18        F      Mum           69                15                 36
19        F      Mum           70                50                 40
20        F   Father           60                60                 33
21        F   Father           10                12                  4
22        F   Father           15                21                  2
23        F   Father            2                 0                  2
24        F   Father            0                 2                  3
25        F   Father            8                 7                 30
26        F   Father           19                19                 25
27        F   Father           25                15                 12
28        F   Father           75                85                 52

    Discussion ParentAnsweringSurvey ParentschoolSatisfaction  \
0           20                   Yes                     Good
1           25                   Yes                     Good
2           30                    No                      Bad
3           35                    No                      Bad
4           50                    No                      Bad
5           70                   Yes                      Bad
6           17                    No                      Bad
7           22                   Yes                     Good
8           50                   Yes                     Good
9           70                   Yes                     Good
10          80                   Yes                     Good
11          12                   Yes                     Good
12          11                    No                      Bad
13          19                    No                      Bad
14          60                    No                      Bad
15          66                   Yes                     Good
16          80                    No                      Bad
17          90                    No                      Bad
18          96                   Yes                     Good
19          99                   Yes                     Good
20          90                    No                      Bad
21          80                    No                      Bad
22          90                    No                      Bad
23          50                    No                      Bad
24          70                   Yes                     Good
25          40                   Yes                     Good
26          40                   Yes                      Bad
27          33                    No                      Bad
28          43                   Yes                     Good

   StudentAbsenceDays Class
0             Under-7     M
1             Under-7     M
2             Above-7     L
3             Above-7     L
4             Above-7     M
5             Above-7     M
6             Above-7     L
7             Under-7     M
8             Under-7     M
9             Under-7     M
10            Under-7     H
11            Under-7     M
12            Above-7     L
13            Above-7     L
14            Above-7     H
15            Under-7     M
16            Above-7     M
17            Above-7     M
18            Under-7     M
19            Under-7     H
20            Above-7     M
21            Under-7     M
22            Under-7     M
23            Above-7     L
24            Above-7     L
25            Above-7     L
26            Under-7     M
27            Above-7     L
28            Under-7     M

In [ ]:
df.drop(df[df['raisedhands']<=17].index)

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
1,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,20,20,3,25,Yes,Good,Under-7,M
3,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,30,25,5,35,No,Bad,Above-7,L
4,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,40,50,12,50,No,Bad,Above-7,M
5,F,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,42,30,13,70,Yes,Bad,Above-7,M
6,M,KW,KuwaIT,MiddleSchool,G-07,A,Math,F,Father,35,12,0,17,No,Bad,Above-7,L
7,M,KW,KuwaIT,MiddleSchool,G-07,A,Math,F,Father,50,10,15,22,Yes,Good,Under-7,M
9,F,KW,KuwaIT,MiddleSchool,G-07,B,IT,F,Father,70,80,25,70,Yes,Good,Under-7,M
10,M,KW,KuwaIT,MiddleSchool,G-07,A,Math,F,Father,50,88,30,80,Yes,Good,Under-7,H
11,M,KW,KuwaIT,MiddleSchool,G-07,B,Math,F,Father,19,6,19,12,Yes,Good,Under-7,M
13,M,lebanon,lebanon,MiddleSchool,G-08,A,Math,F,Father,20,14,12,19,No,Bad,Above-7,L
14,F,KW,KuwaIT,MiddleSchool,G-08,A,Math,F,Mum,62,70,44,60,No,Bad,Above-7,H
15,F,KW,KuwaIT,MiddleSchool,G-06,A,IT,F,Father,30,40,22,66,Yes,Good,Under-7,M
16,M,KW,KuwaIT,MiddleSchool,G-07,B,IT,F,Father,36,30,20,80,No,Bad,Above-7,M
17,M,KW,KuwaIT,MiddleSchool,G-07,A,Math,F,Father,55,13,35,90,No,Bad,Above-7,M
18,F,KW,KuwaIT,MiddleSchool,G-07,A,IT,F,Mum,69,15,36,96,Yes,Good,Under-7,M
19,M,KW,KuwaIT,MiddleSchool,G-07,B,IT,F,Mum,70,50,40,99,Yes,Good,Under-7,H
20,F,KW,KuwaIT,MiddleSchool,G-07,A,IT,F,Father,60,60,33,90,No,Bad,Above-7,M
26,M,KW,KuwaIT,MiddleSchool,G-07,B,IT,F,Father,19,19,25,40,Yes,Bad,Under-7,M
27,M,KW,KuwaIT,MiddleSchool,G-08,A,Arabic,F,Father,25,15,12,33,No,Bad,Above-7,L
28,M,KW,KuwaIT,MiddleSchool,G-08,A,Science,F,Father,75,85,52,43,Yes,Good,Under-7,M

In [ ]:
df.drop(columns=df.select_dtypes(include=int).columns)

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
0,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,Yes,Good,Under-7,M
1,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,Yes,Good,Under-7,M
2,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,No,Bad,Above-7,L
3,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,No,Bad,Above-7,L
4,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,No,Bad,Above-7,M
5,F,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,Yes,Bad,Above-7,M
6,M,KW,KuwaIT,MiddleSchool,G-07,A,Math,F,Father,No,Bad,Above-7,L
7,M,KW,KuwaIT,MiddleSchool,G-07,A,Math,F,Father,Yes,Good,Under-7,M
8,F,KW,KuwaIT,MiddleSchool,G-07,A,Math,F,Father,Yes,Good,Under-7,M
9,F,KW,KuwaIT,MiddleSchool,G-07,B,IT,F,Father,Yes,Good,Under-7,M
10,M,KW,KuwaIT,MiddleSchool,G-07,A,Math,F,Father,Yes,Good,Under-7,H
11,M,KW,KuwaIT,MiddleSchool,G-07,B,Math,F,Father,Yes,Good,Under-7,M
12,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,No,Bad,Above-7,L
13,M,lebanon,lebanon,MiddleSchool,G-08,A,Math,F,Father,No,Bad,Above-7,L
14,F,KW,KuwaIT,MiddleSchool,G-08,A,Math,F,Mum,No,Bad,Above-7,H
15,F,KW,KuwaIT,MiddleSchool,G-06,A,IT,F,Father,Yes,Good,Under-7,M
16,M,KW,KuwaIT,MiddleSchool,G-07,B,IT,F,Father,No,Bad,Above-7,M
17,M,KW,KuwaIT,MiddleSchool,G-07,A,Math,F,Father,No,Bad,Above-7,M
18,F,KW,KuwaIT,MiddleSchool,G-07,A,IT,F,Mum,Yes,Good,Under-7,M
19,M,KW,KuwaIT,MiddleSchool,G-07,B,IT,F,Mum,Yes,Good,Under-7,H
20,F,KW,KuwaIT,MiddleSchool,G-07,A,IT,F,Father,No,Bad,Above-7,M
21,F,KW,KuwaIT,MiddleSchool,G-07,B,IT,F,Father,No,Bad,Under-7,M
22,M,KW,KuwaIT,MiddleSchool,G-07,A,IT,F,Father,No,Bad,Under-7,M
23,M,KW,KuwaIT,MiddleSchool,G-07,A,IT,F,Father,No,Bad,Above-7,L
24,M,KW,KuwaIT,MiddleSchool,G-07,B,IT,F,Father,Yes,Good,Above-7,L
25,M,KW,KuwaIT,MiddleSchool,G-07,A,IT,F,Father,Yes,Good,Above-7,L
26,M,KW,KuwaIT,MiddleSchool,G-07,B,IT,F,Father,Yes,Bad,Under-7,M
27,M,KW,KuwaIT,MiddleSchool,G-08,A,Arabic,F,Father,No,Bad,Above-7,L
28,M,KW,KuwaIT,MiddleSchool,G-08,A,Science,F,Father,Yes,Good,Under-7,M

In [ ]:
print(df)

   gender NationalITy PlaceofBirth       StageID GradeID SectionID    Topic  \
0       M          KW       KuwaIT    lowerlevel    G-04         A       IT
1       M          KW       KuwaIT    lowerlevel    G-04         A       IT
2       M          KW       KuwaIT    lowerlevel    G-04         A       IT
3       M          KW       KuwaIT    lowerlevel    G-04         A       IT
4       M          KW       KuwaIT    lowerlevel    G-04         A       IT
5       F          KW       KuwaIT    lowerlevel    G-04         A       IT
6       M          KW       KuwaIT  MiddleSchool    G-07         A     Math
7       M          KW       KuwaIT  MiddleSchool    G-07         A     Math
8       F          KW       KuwaIT  MiddleSchool    G-07         A     Math
9       F          KW       KuwaIT  MiddleSchool    G-07         B       IT
10      M          KW       KuwaIT  MiddleSchool    G-07         A     Math
11      M          KW       KuwaIT  MiddleSchool    G-07         B     Math
12      M          KW       KuwaIT    lowerlevel    G-04         A       IT
13      M     lebanon      lebanon  MiddleSchool    G-08         A     Math
14      F          KW       KuwaIT  MiddleSchool    G-08         A     Math
15      F          KW       KuwaIT  MiddleSchool    G-06         A       IT
16      M          KW       KuwaIT  MiddleSchool    G-07         B       IT
17      M          KW       KuwaIT  MiddleSchool    G-07         A     Math
18      F          KW       KuwaIT  MiddleSchool    G-07         A       IT
19      M          KW       KuwaIT  MiddleSchool    G-07         B       IT
20      F          KW       KuwaIT  MiddleSchool    G-07         A       IT
21      F          KW       KuwaIT  MiddleSchool    G-07         B       IT
22      M          KW       KuwaIT  MiddleSchool    G-07         A       IT
23      M          KW       KuwaIT  MiddleSchool    G-07         A       IT
24      M          KW       KuwaIT  MiddleSchool    G-07         B       IT
25      M          KW       KuwaIT  MiddleSchool    G-07         A       IT
26      M          KW       KuwaIT  MiddleSchool    G-07         B       IT
27      M          KW       KuwaIT  MiddleSchool    G-08         A   Arabic
28      M          KW       KuwaIT  MiddleSchool    G-08         A  Science

   Semester Relation  raisedhands  VisITedResources  AnnouncementsView  \
0         F   Father           15                16                  2
1         F   Father           20                20                  3
2         F   Father           10                 7                  0
3         F   Father           30                25                  5
4         F   Father           40                50                 12
5         F   Father           42                30                 13
6         F   Father           35                12                  0
7         F   Father           50                10                 15
8         F   Father           12                21                 16
9         F   Father           70                80                 25
10        F   Father           50                88                 30
11        F   Father           19                 6                 19
12        F   Father            5                 1                  0
13        F   Father           20                14                 12
14        F      Mum           62                70                 44
15        F   Father           30                40                 22
16        F   Father           36                30                 20
17        F   Father           55                13                 35
18        F      Mum           69                15                 36
19        F      Mum           70                50                 40
20        F   Father           60                60                 33
21        F   Father           10                12                  4
22        F   Father           15                21                  2
23        F   Father            2                 0                  2
24        F   Father            0                 2                  3
25        F   Father            8                 7                 30
26        F   Father           19                19                 25
27        F   Father           25                15                 12
28        F   Father           75                85                 52

    Discussion ParentAnsweringSurvey ParentschoolSatisfaction  \
0           20                   Yes                     Good
1           25                   Yes                     Good
2           30                    No                      Bad
3           35                    No                      Bad
4           50                    No                      Bad
5           70                   Yes                      Bad
6           17                    No                      Bad
7           22                   Yes                     Good
8           50                   Yes                     Good
9           70                   Yes                     Good
10          80                   Yes                     Good
11          12                   Yes                     Good
12          11                    No                      Bad
13          19                    No                      Bad
14          60                    No                      Bad
15          66                   Yes                     Good
16          80                    No                      Bad
17          90                    No                      Bad
18          96                   Yes                     Good
19          99                   Yes                     Good
20          90                    No                      Bad
21          80                    No                      Bad
22          90                    No                      Bad
23          50                    No                      Bad
24          70                   Yes                     Good
25          40                   Yes                     Good
26          40                   Yes                      Bad
27          33                    No                      Bad
28          43                   Yes                     Good

   StudentAbsenceDays Class
0             Under-7     M
1             Under-7     M
2             Above-7     L
3             Above-7     L
4             Above-7     M
5             Above-7     M
6             Above-7     L
7             Under-7     M
8             Under-7     M
9             Under-7     M
10            Under-7     H
11            Under-7     M
12            Above-7     L
13            Above-7     L
14            Above-7     H
15            Under-7     M
16            Above-7     M
17            Above-7     M
18            Under-7     M
19            Under-7     H
20            Above-7     M
21            Under-7     M
22            Under-7     M
23            Above-7     L
24            Above-7     L
25            Above-7     L
26            Under-7     M
27            Above-7     L
28            Under-7     M

In [ ]:
df['Height_rank']=df['raisedhands'].rank()
df.set_index('Height_rank')
print(df)

   gender NationalITy PlaceofBirth       StageID GradeID SectionID    Topic  \
0       M          KW       KuwaIT    lowerlevel    G-04         A       IT
1       M          KW       KuwaIT    lowerlevel    G-04         A       IT
2       M          KW       KuwaIT    lowerlevel    G-04         A       IT
3       M          KW       KuwaIT    lowerlevel    G-04         A       IT
4       M          KW       KuwaIT    lowerlevel    G-04         A       IT
5       F          KW       KuwaIT    lowerlevel    G-04         A       IT
6       M          KW       KuwaIT  MiddleSchool    G-07         A     Math
7       M          KW       KuwaIT  MiddleSchool    G-07         A     Math
8       F          KW       KuwaIT  MiddleSchool    G-07         A     Math
9       F          KW       KuwaIT  MiddleSchool    G-07         B       IT
10      M          KW       KuwaIT  MiddleSchool    G-07         A     Math
11      M          KW       KuwaIT  MiddleSchool    G-07         B     Math
12      M          KW       KuwaIT    lowerlevel    G-04         A       IT
13      M     lebanon      lebanon  MiddleSchool    G-08         A     Math
14      F          KW       KuwaIT  MiddleSchool    G-08         A     Math
15      F          KW       KuwaIT  MiddleSchool    G-06         A       IT
16      M          KW       KuwaIT  MiddleSchool    G-07         B       IT
17      M          KW       KuwaIT  MiddleSchool    G-07         A     Math
18      F          KW       KuwaIT  MiddleSchool    G-07         A       IT
19      M          KW       KuwaIT  MiddleSchool    G-07         B       IT
20      F          KW       KuwaIT  MiddleSchool    G-07         A       IT
21      F          KW       KuwaIT  MiddleSchool    G-07         B       IT
22      M          KW       KuwaIT  MiddleSchool    G-07         A       IT
23      M          KW       KuwaIT  MiddleSchool    G-07         A       IT
24      M          KW       KuwaIT  MiddleSchool    G-07         B       IT
25      M          KW       KuwaIT  MiddleSchool    G-07         A       IT
26      M          KW       KuwaIT  MiddleSchool    G-07         B       IT
27      M          KW       KuwaIT  MiddleSchool    G-08         A   Arabic
28      M          KW       KuwaIT  MiddleSchool    G-08         A  Science

   Semester Relation  raisedhands  VisITedResources  AnnouncementsView  \
0         F   Father           15                16                  2
1         F   Father           20                20                  3
2         F   Father           10                 7                  0
3         F   Father           30                25                  5
4         F   Father           40                50                 12
5         F   Father           42                30                 13
6         F   Father           35                12                  0
7         F   Father           50                10                 15
8         F   Father           12                21                 16
9         F   Father           70                80                 25
10        F   Father           50                88                 30
11        F   Father           19                 6                 19
12        F   Father            5                 1                  0
13        F   Father           20                14                 12
14        F      Mum           62                70                 44
15        F   Father           30                40                 22
16        F   Father           36                30                 20
17        F   Father           55                13                 35
18        F      Mum           69                15                 36
19        F      Mum           70                50                 40
20        F   Father           60                60                 33
21        F   Father           10                12                  4
22        F   Father           15                21                  2
23        F   Father            2                 0                  2
24        F   Father            0                 2                  3
25        F   Father            8                 7                 30
26        F   Father           19                19                 25
27        F   Father           25                15                 12
28        F   Father           75                85                 52

    Discussion ParentAnsweringSurvey ParentschoolSatisfaction  \
0           20                   Yes                     Good
1           25                   Yes                     Good
2           30                    No                      Bad
3           35                    No                      Bad
4           50                    No                      Bad
5           70                   Yes                      Bad
6           17                    No                      Bad
7           22                   Yes                     Good
8           50                   Yes                     Good
9           70                   Yes                     Good
10          80                   Yes                     Good
11          12                   Yes                     Good
12          11                    No                      Bad
13          19                    No                      Bad
14          60                    No                      Bad
15          66                   Yes                     Good
16          80                    No                      Bad
17          90                    No                      Bad
18          96                   Yes                     Good
19          99                   Yes                     Good
20          90                    No                      Bad
21          80                    No                      Bad
22          90                    No                      Bad
23          50                    No                      Bad
24          70                   Yes                     Good
25          40                   Yes                     Good
26          40                   Yes                      Bad
27          33                    No                      Bad
28          43                   Yes                     Good

   StudentAbsenceDays Class  Height_rank
0             Under-7     M          8.5
1             Under-7     M         12.5
2             Above-7     L          5.5
3             Above-7     L         15.5
4             Above-7     M         19.0
5             Above-7     M         20.0
6             Above-7     L         17.0
7             Under-7     M         21.5
8             Under-7     M          7.0
9             Under-7     M         27.5
10            Under-7     H         21.5
11            Under-7     M         10.5
12            Above-7     L          3.0
13            Above-7     L         12.5
14            Above-7     H         25.0
15            Under-7     M         15.5
16            Above-7     M         18.0
17            Above-7     M         23.0
18            Under-7     M         26.0
19            Under-7     H         27.5
20            Above-7     M         24.0
21            Under-7     M          5.5
22            Under-7     M          8.5
23            Above-7     L          2.0
24            Above-7     L          1.0
25            Above-7     L          4.0
26            Under-7     M         10.5
27            Above-7     L         14.0
28            Under-7     M         29.0

In [ ]:
df.sort_index()
print(df)

   gender NationalITy PlaceofBirth       StageID GradeID SectionID    Topic  \
0       M          KW       KuwaIT    lowerlevel    G-04         A       IT
1       M          KW       KuwaIT    lowerlevel    G-04         A       IT
2       M          KW       KuwaIT    lowerlevel    G-04         A       IT
3       M          KW       KuwaIT    lowerlevel    G-04         A       IT
4       M          KW       KuwaIT    lowerlevel    G-04         A       IT
5       F          KW       KuwaIT    lowerlevel    G-04         A       IT
6       M          KW       KuwaIT  MiddleSchool    G-07         A     Math
7       M          KW       KuwaIT  MiddleSchool    G-07         A     Math
8       F          KW       KuwaIT  MiddleSchool    G-07         A     Math
9       F          KW       KuwaIT  MiddleSchool    G-07         B       IT
10      M          KW       KuwaIT  MiddleSchool    G-07         A     Math
11      M          KW       KuwaIT  MiddleSchool    G-07         B     Math
12      M          KW       KuwaIT    lowerlevel    G-04         A       IT
13      M     lebanon      lebanon  MiddleSchool    G-08         A     Math
14      F          KW       KuwaIT  MiddleSchool    G-08         A     Math
15      F          KW       KuwaIT  MiddleSchool    G-06         A       IT
16      M          KW       KuwaIT  MiddleSchool    G-07         B       IT
17      M          KW       KuwaIT  MiddleSchool    G-07         A     Math
18      F          KW       KuwaIT  MiddleSchool    G-07         A       IT
19      M          KW       KuwaIT  MiddleSchool    G-07         B       IT
20      F          KW       KuwaIT  MiddleSchool    G-07         A       IT
21      F          KW       KuwaIT  MiddleSchool    G-07         B       IT
22      M          KW       KuwaIT  MiddleSchool    G-07         A       IT
23      M          KW       KuwaIT  MiddleSchool    G-07         A       IT
24      M          KW       KuwaIT  MiddleSchool    G-07         B       IT
25      M          KW       KuwaIT  MiddleSchool    G-07         A       IT
26      M          KW       KuwaIT  MiddleSchool    G-07         B       IT
27      M          KW       KuwaIT  MiddleSchool    G-08         A   Arabic
28      M          KW       KuwaIT  MiddleSchool    G-08         A  Science

   Semester Relation  raisedhands  VisITedResources  AnnouncementsView  \
0         F   Father           15                16                  2
1         F   Father           20                20                  3
2         F   Father           10                 7                  0
3         F   Father           30                25                  5
4         F   Father           40                50                 12
5         F   Father           42                30                 13
6         F   Father           35                12                  0
7         F   Father           50                10                 15
8         F   Father           12                21                 16
9         F   Father           70                80                 25
10        F   Father           50                88                 30
11        F   Father           19                 6                 19
12        F   Father            5                 1                  0
13        F   Father           20                14                 12
14        F      Mum           62                70                 44
15        F   Father           30                40                 22
16        F   Father           36                30                 20
17        F   Father           55                13                 35
18        F      Mum           69                15                 36
19        F      Mum           70                50                 40
20        F   Father           60                60                 33
21        F   Father           10                12                  4
22        F   Father           15                21                  2
23        F   Father            2                 0                  2
24        F   Father            0                 2                  3
25        F   Father            8                 7                 30
26        F   Father           19                19                 25
27        F   Father           25                15                 12
28        F   Father           75                85                 52

    Discussion ParentAnsweringSurvey ParentschoolSatisfaction  \
0           20                   Yes                     Good
1           25                   Yes                     Good
2           30                    No                      Bad
3           35                    No                      Bad
4           50                    No                      Bad
5           70                   Yes                      Bad
6           17                    No                      Bad
7           22                   Yes                     Good
8           50                   Yes                     Good
9           70                   Yes                     Good
10          80                   Yes                     Good
11          12                   Yes                     Good
12          11                    No                      Bad
13          19                    No                      Bad
14          60                    No                      Bad
15          66                   Yes                     Good
16          80                    No                      Bad
17          90                    No                      Bad
18          96                   Yes                     Good
19          99                   Yes                     Good
20          90                    No                      Bad
21          80                    No                      Bad
22          90                    No                      Bad
23          50                    No                      Bad
24          70                   Yes                     Good
25          40                   Yes                     Good
26          40                   Yes                      Bad
27          33                    No                      Bad
28          43                   Yes                     Good

   StudentAbsenceDays Class  Height_rank
0             Under-7     M          8.5
1             Under-7     M         12.5
2             Above-7     L          5.5
3             Above-7     L         15.5
4             Above-7     M         19.0
5             Above-7     M         20.0
6             Above-7     L         17.0
7             Under-7     M         21.5
8             Under-7     M          7.0
9             Under-7     M         27.5
10            Under-7     H         21.5
11            Under-7     M         10.5
12            Above-7     L          3.0
13            Above-7     L         12.5
14            Above-7     H         25.0
15            Under-7     M         15.5
16            Above-7     M         18.0
17            Above-7     M         23.0
18            Under-7     M         26.0
19            Under-7     H         27.5
20            Above-7     M         24.0
21            Under-7     M          5.5
22            Under-7     M          8.5
23            Above-7     L          2.0
24            Above-7     L          1.0
25            Above-7     L          4.0
26            Under-7     M         10.5
27            Above-7     L         14.0
28            Under-7     M         29.0

In [ ]:
df.drop(labels='Height_rank',axis=1)

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
0,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,15,16,2,20,Yes,Good,Under-7,M
1,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,20,20,3,25,Yes,Good,Under-7,M
2,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,10,7,0,30,No,Bad,Above-7,L
3,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,30,25,5,35,No,Bad,Above-7,L
4,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,40,50,12,50,No,Bad,Above-7,M
5,F,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,42,30,13,70,Yes,Bad,Above-7,M
6,M,KW,KuwaIT,MiddleSchool,G-07,A,Math,F,Father,35,12,0,17,No,Bad,Above-7,L
7,M,KW,KuwaIT,MiddleSchool,G-07,A,Math,F,Father,50,10,15,22,Yes,Good,Under-7,M
8,F,KW,KuwaIT,MiddleSchool,G-07,A,Math,F,Father,12,21,16,50,Yes,Good,Under-7,M
9,F,KW,KuwaIT,MiddleSchool,G-07,B,IT,F,Father,70,80,25,70,Yes,Good,Under-7,M
10,M,KW,KuwaIT,MiddleSchool,G-07,A,Math,F,Father,50,88,30,80,Yes,Good,Under-7,H
11,M,KW,KuwaIT,MiddleSchool,G-07,B,Math,F,Father,19,6,19,12,Yes,Good,Under-7,M
12,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,5,1,0,11,No,Bad,Above-7,L
13,M,lebanon,lebanon,MiddleSchool,G-08,A,Math,F,Father,20,14,12,19,No,Bad,Above-7,L
14,F,KW,KuwaIT,MiddleSchool,G-08,A,Math,F,Mum,62,70,44,60,No,Bad,Above-7,H
15,F,KW,KuwaIT,MiddleSchool,G-06,A,IT,F,Father,30,40,22,66,Yes,Good,Under-7,M
16,M,KW,KuwaIT,MiddleSchool,G-07,B,IT,F,Father,36,30,20,80,No,Bad,Above-7,M
17,M,KW,KuwaIT,MiddleSchool,G-07,A,Math,F,Father,55,13,35,90,No,Bad,Above-7,M
18,F,KW,KuwaIT,MiddleSchool,G-07,A,IT,F,Mum,69,15,36,96,Yes,Good,Under-7,M
19,M,KW,KuwaIT,MiddleSchool,G-07,B,IT,F,Mum,70,50,40,99,Yes,Good,Under-7,H
20,F,KW,KuwaIT,MiddleSchool,G-07,A,IT,F,Father,60,60,33,90,No,Bad,Above-7,M
21,F,KW,KuwaIT,MiddleSchool,G-07,B,IT,F,Father,10,12,4,80,No,Bad,Under-7,M
22,M,KW,KuwaIT,MiddleSchool,G-07,A,IT,F,Father,15,21,2,90,No,Bad,Under-7,M
23,M,KW,KuwaIT,MiddleSchool,G-07,A,IT,F,Father,2,0,2,50,No,Bad,Above-7,L
24,M,KW,KuwaIT,MiddleSchool,G-07,B,IT,F,Father,0,2,3,70,Yes,Good,Above-7,L
25,M,KW,KuwaIT,MiddleSchool,G-07,A,IT,F,Father,8,7,30,40,Yes,Good,Above-7,L
26,M,KW,KuwaIT,MiddleSchool,G-07,B,IT,F,Father,19,19,25,40,Yes,Bad,Under-7,M
27,M,KW,KuwaIT,MiddleSchool,G-08,A,Arabic,F,Father,25,15,12,33,No,Bad,Above-7,L
28,M,KW,KuwaIT,MiddleSchool,G-08,A,Science,F,Father,75,85,52,43,Yes,Good,Under-7,M

In [ ]:
df.sort_values(by="raisedhands")

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class,Height_rank
24,M,KW,KuwaIT,MiddleSchool,G-07,B,IT,F,Father,0,2,3,70,Yes,Good,Above-7,L,1.0
23,M,KW,KuwaIT,MiddleSchool,G-07,A,IT,F,Father,2,0,2,50,No,Bad,Above-7,L,2.0
12,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,5,1,0,11,No,Bad,Above-7,L,3.0
25,M,KW,KuwaIT,MiddleSchool,G-07,A,IT,F,Father,8,7,30,40,Yes,Good,Above-7,L,4.0
21,F,KW,KuwaIT,MiddleSchool,G-07,B,IT,F,Father,10,12,4,80,No,Bad,Under-7,M,5.5
2,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,10,7,0,30,No,Bad,Above-7,L,5.5
8,F,KW,KuwaIT,MiddleSchool,G-07,A,Math,F,Father,12,21,16,50,Yes,Good,Under-7,M,7.0
22,M,KW,KuwaIT,MiddleSchool,G-07,A,IT,F,Father,15,21,2,90,No,Bad,Under-7,M,8.5
0,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,15,16,2,20,Yes,Good,Under-7,M,8.5
26,M,KW,KuwaIT,MiddleSchool,G-07,B,IT,F,Father,19,19,25,40,Yes,Bad,Under-7,M,10.5
11,M,KW,KuwaIT,MiddleSchool,G-07,B,Math,F,Father,19,6,19,12,Yes,Good,Under-7,M,10.5
13,M,lebanon,lebanon,MiddleSchool,G-08,A,Math,F,Father,20,14,12,19,No,Bad,Above-7,L,12.5
1,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,20,20,3,25,Yes,Good,Under-7,M,12.5
27,M,KW,KuwaIT,MiddleSchool,G-08,A,Arabic,F,Father,25,15,12,33,No,Bad,Above-7,L,14.0
15,F,KW,KuwaIT,MiddleSchool,G-06,A,IT,F,Father,30,40,22,66,Yes,Good,Under-7,M,15.5
3,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,30,25,5,35,No,Bad,Above-7,L,15.5
6,M,KW,KuwaIT,MiddleSchool,G-07,A,Math,F,Father,35,12,0,17,No,Bad,Above-7,L,17.0
16,M,KW,KuwaIT,MiddleSchool,G-07,B,IT,F,Father,36,30,20,80,No,Bad,Above-7,M,18.0
4,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,40,50,12,50,No,Bad,Above-7,M,19.0
5,F,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,42,30,13,70,Yes,Bad,Above-7,M,20.0
10,M,KW,KuwaIT,MiddleSchool,G-07,A,Math,F,Father,50,88,30,80,Yes,Good,Under-7,H,21.5
7,M,KW,KuwaIT,MiddleSchool,G-07,A,Math,F,Father,50,10,15,22,Yes,Good,Under-7,M,21.5
17,M,KW,KuwaIT,MiddleSchool,G-07,A,Math,F,Father,55,13,35,90,No,Bad,Above-7,M,23.0
20,F,KW,KuwaIT,MiddleSchool,G-07,A,IT,F,Father,60,60,33,90,No,Bad,Above-7,M,24.0
14,F,KW,KuwaIT,MiddleSchool,G-08,A,Math,F,Mum,62,70,44,60,No,Bad,Above-7,H,25.0
18,F,KW,KuwaIT,MiddleSchool,G-07,A,IT,F,Mum,69,15,36,96,Yes,Good,Under-7,M,26.0
9,F,KW,KuwaIT,MiddleSchool,G-07,B,IT,F,Father,70,80,25,70,Yes,Good,Under-7,M,27.5
19,M,KW,KuwaIT,MiddleSchool,G-07,B,IT,F,Mum,70,50,40,99,Yes,Good,Under-7,H,27.5
28,M,KW,KuwaIT,MiddleSchool,G-08,A,Science,F,Father,75,85,52,43,Yes,Good,Under-7,M,29.0

In [ ]:
print(df['raisedhands'].mean())
print(df['raisedhands'].max())
print(df['raisedhands'].median())
print(df['raisedhands'].mode())
print(df['raisedhands'].std())
print(df['raisedhands'].var())
print(df['raisedhands'].count())

32.89655172413793
75
30.0
0    10
1    15
2    19
3    20
4    30
5    50
6    70
Name: raisedhands, dtype: int64
23.1383182923698
535.3817733990148
29

In [ ]:
df=df.dropna()

In [ ]:
df['raisedhands'].unique()

array([15, 20, 10, 30, 40, 42, 35, 50, 12, 70, 19,  5, 62, 36, 55, 69, 60,
        2,  0,  8, 25, 75])

In [ ]:
df['raisedhands'].count()

29